

.box{
  width: 500px;
  height: 600px;
  border: 1px solid black;
  display: block;
}

.items{
  width: 200px;
  height: 200px;
  border: 1px solid seagreen;
  display: block;
  animation: col_cha linear 2s infinite;
}

@keyframes col_cha {

}