body {
  margin: 0;
  padding: 0;
  line-height: 1.4em;
  word-spacing: 1px;
  letter-spacing: 0.2px;
  font: 13px Arial, Helvetica, 'Lucida Grande', serif;
  color: #000;
}

.userCard .welcome,
.userCard > footer.media,
.downloadResume-wrapper,
.topNavBar {
  display: none;
}

.pictureAndText .picture {
  float: left;
  width: 261px;
}
.pictureAndText .text {
  float: left;
  margin-left: 45px;
  width: 200px;
}

.pictureAndText .text dl dt {
  width: 20%;
}

#siteSkills,
.work {
  page-break-before: always;
}

a:link,
a:visited {
  background: transparent;
  color: #333;
  text-decoration: none;
}
a:link[href^="http://"]:after, a[href^="http://"]:visited:after {
  content: ' (' attr(href) ') ';
  font-size: 11px;
}
a[href^="http://"] {
  color: #000;
}
