<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="./vue.js"></script>
  <link rel="stylesheet" href="./bootstrap.css">
</head>
<body>
  <div id="app">
    
    
    <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Add Brand</h3>
        </div>
        <div class="panel-body form-inline">
          <label for="">
            ID:
            <input type="text" v-model="id" class="form-control">
          </label>
          <label for="">
            Name:
            <input type="text" v-model="name" class="form-control">
          </label>
          <input type="button" @click="add()" value="Add" class="btn btn-primary">
          <label for="">
            Search:
            <input type="text" v-model="keywords" class="form-control" v-focus v-color="'blue'" v-fontsize="'20px'">
          </label>
        
        </div>
    </div>
    

    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Ctime</th>
          <th>Operation</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in search(keywords)" :key="item.id">
          <td>{{item.id}}</td>
          <td v-text="item.name"></td>
          <td>{{item.ctime | dateFormat('yyyy-mm-dd')}}</td>
          <td>
            <a href="" @click.prevent="del(item.id)">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
    
  </div>
  <script>
    //过滤器可用于常见文本格式化，只能用在差值表达式，和v-bind表达式
    //过滤器使用{{data | 过滤器}}
    Vue.filter('dateFormat',function(dataStr,pattern=''){
      //new Date接收给定的时间字符串，得到特定的时间
      var dt = new Date(dataStr)
      var y = dt.getFullYear()
      var m = (dt.getMonth() + 1).toString().padStart(2,'0')
      var d = dt.getDate().toString().padStart(2,'0')
      if(pattern.toLowerCase()==='yyyy-mm-dd'){
      //return y+'-'+m+'-'+d
        return `${y}-${m}-${d}`
      }else{
        var hh = dt.getHours().toString().padStart(2,'0')
        var mm = dt.getMinutes().toString().padStart(2,'0')
        var ss = dt.getSeconds().toString().padStart(2,'0')
        return `${y}-${m}-${d} ${hh}:${mm}:${ss}`
      }
    })

    Vue.config.keyCodes.f2 = 113
    //设置键盘修饰符

    Vue.directive('focus',{
    //directive可以自定义指令，定义在不同生命周期的钩子函数上的函数
    //在每个函数中，第一个参数，永远是el，表示被绑定了指令的那个元素
    //这个el是一个原生的JS对象
      bind: function(el){
      //每当指令绑定到元素上时，会立即执行这个bind函数，只执行一次
      //常用于与样式有关的操作
      },
      inserted: function(el){
      //inserted表示元素插入到DOM中的时候，会执行inserted函数，触发一次
      //常用于与JS行为相关
        el.focus()
      },
      updated: function(el){
      //当VNode更新时，会执行updated，可能会触发多次
      }
    })

    var vm = new Vue({
      el: '#app',
      data: {
        id: '',
        name: '',
        keywords: '',
        list:[
          {id:1,name:'car1',ctime: new Date()},
          {id:2,name:'car2',ctime: new Date()},
          {id:3,name:'car3',ctime: new Date()},
        ]
      },
      methods: {
        add(){
          var item = {id: this.id, name: this.name, ctime: new Date()}
          this.list.push(item)
          this.id = this.name = ''
        },
        del(id){
          this.list.some((item,i)=>{
            if(item.id == id){
              this.list.splice(i,1)
            //在数组的some方法中，如果return true,就会立即终止这个数组的后续循环
              return true;
            }
          })
          /*
          this.list.findIndex(item=>{
            if(item.id == id){
              return true;
            }
          })
          this.list.splice(index,1)
          */
        },
        //forEach, some, filter, findIndex, 这些都属于数组新方法
        //会对数组每一项进行遍历
        search(keywords){
          var newList = []
          this.list.forEach(item => {
            if(item.name.indexOf(keywords)!=-1){
              newList.push(item)
              //indexOf可以用于判断一个字符串是否包含另一个字符串
              //不输入不为-1，故不输入值会显示所有
              //ES6 中string有includes
              //jQuery有contains()
            }
          })
          return newList
          /*
          var newList = this.list.filter(item=>{
            if(item.name.includes(keywords){
              return item
            })
          })
          return newList
          */
        },
      }
      ,
      filters: {
        //定义私有过滤器，其有两个条件，过滤器名称 + 处理函数
        dateFormat: function(dataStr, pattern=''){
          var dt = new Date(dataStr)
          var y = dt.getFullYear()
          var m = (dt.getMonth() + 1).toString().padStart(2,'0')
          var d = dt.getDate().toString().padStart(2,'0')
          if(pattern.toLowerCase()==='yyyy-mm-dd'){
          //return y+'-'+m+'-'+d
            return `${y}-${m}-${d}---`
          }else{
            var hh = dt.getHours().toString().padStart(2,'0')
            var mm = dt.getMinutes().toString().padStart(2,'0')
            var ss = dt.getSeconds().toString().padStart(2,'0')
            return `${y}-${m}-${d} ${hh}:${mm}:${ss}---`
          }
        }
      },
      directives:{
      //定义私有指令
        'color':{
          bind: function(el,binding){
            el.style.color=binding.value
          }
        },
        //可对同时绑定到bind和update上的函数使用以下简写
        'fontsize': function(el,binding){
          el.style.fontSize = parseInt(binding.value) + 'px'
        }
      }
    
    })
    
  </script>
</body>
</html>