html, body{
  margin: 0;
  padding: 0;
  .box{
    height: 100px;
    background: url('../img/Attribute.png');
  }
  .box2{
    height: 100px;
    background: url('../img2/Attribute.png');
  }
  // 默认webpack无法处理css中的url地址
  li{
    font-size: 12px;
    line-height: 30px;
  }
}
